# cache files
__pycache__
.ipynb_checkpoints

# excluding .txt files except some useful files
*.txt
!requirements.txt
!packages.txt
api_key.py

# streamlit
.streamlit


# chrome
chromedriver
_chromedriver

#  misc. files
test.py